## Python Data Types

### Simple print

In [1]:
print('Algorithms and Data Structure')

Algorithms and Data Structure

### Basic arithmetic operation

In [2]:
print(2+3*4)
print((2+3)*4)
print(2**10)
print(6/3)
print(7/3)
print(7//3) # floor division
print(7%3) # remainder operator
print(3/6)
print(3//6)
print(3%6)
print(2**100)

14
20
1024
2.0
2.3333333333333335
2
1
0.5
0
3
1267650600228229401496703205376

### Bolean data type

In [3]:
print(True)
print(False)
print(False or True)
print(not(False or True))
print(True and True)

True
False
True
False
True

### Basic relational and logical operators

In [4]:
print(5==10)
print(10>5)
print((5 >= 1) and (5 <= 10))

False
True
True

### Python variable

In [5]:
theSum = 0
print(theSum)

theSum = theSum + 1
print(theSum)

theSum = True
print(theSum)

0
1
True

### Lists

**A list is an ordered collection of zero or more references to Python data objects.**

In [6]:
List1 = [1,3,True,6.5]
print(List1)
List2 = [0] * 6
print(List2)

[1, 3, True, 6.5]
[0, 0, 0, 0, 0, 0]

In [7]:
List3 = [1,2,3,4]
A = [List3]*3
print(A)
List3[2]=45
print(A)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

In [8]:
myList = [1024, 3, True, 6.5]
myList.append(False)
print(myList)
myList.insert(2,4.5)
print(myList)
print(myList.pop())
print(myList)
print(myList.pop(1))
print(myList)
myList.pop(2)
print(myList)
myList.sort()
print(myList)
myList.reverse()
print(myList)
print(myList.count(6.5))
print(myList.index(4.5))
myList.remove(6.5) 
print(myList)
del myList[0]
print(myList)

[1024, 3, True, 6.5, False]
[1024, 3, 4.5, True, 6.5, False]
False
[1024, 3, 4.5, True, 6.5]
3
[1024, 4.5, True, 6.5]
[1024, 4.5, 6.5]
[4.5, 6.5, 1024]
[1024, 6.5, 4.5]
1
2
[1024, 4.5]
[4.5]

#### Range function

In [9]:
print(range(10))
print(list(range(10)))
print(range(5,10))
print(list(range(5,10)))
print(list(range(5,10,2)))
print(list(range(10,1,-1)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(5, 10)
[5, 6, 7, 8, 9]
[5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2]

### Strings

**Strings are sequential collections of zero or more letters, numbers and other symbols.**

In [10]:
print('David')
myName = 'David'
print(myName[3])
print(myName*2)
print(len(myName))

David
i
DavidDavid
5

In [11]:
print(myName)
print(myName.upper())
print(myName.center(10))
print(myName.find('v'))
print(myName.split('v'))

David
DAVID
  David
2
['Da', 'id']

*Strings are immutable and lists are muttable*

In [12]:
print(List1)
List1[0]=2**10
print(List1)

print(myName)
myName[0]='X'

[1, 3, True, 6.5]
[1024, 3, True, 6.5]
David

TypeError: 'str' object does not support item assignment

### Tuples

**Tuples are heterogeneous sequences of data. Tuple is immutable.**

In [18]:

myTuple = (2,True,4.96)
print(myTuple)
print(len(myTuple))

print(myTuple[0])

print(myTuple * 3)

print(myTuple[0:2])

(2, True, 4.96)
3
2
(2, True, 4.96, 2, True, 4.96, 2, True, 4.96)
(2, True)

*Tuple is immutable*

In [19]:
myTuple[1]=False

TypeError: 'tuple' object does not support item assignment

### Sets

**A set is an unordered collection of zero or more immutable Python data objects.**

In [51]:
print({3,6,"cat",4.5,False})
mySet = {3,6,"cat",4.5,False}
print(mySet)

{False, 3, 4.5, 'cat', 6}
{False, 3, 4.5, 'cat', 6}

In [52]:
print(mySet)
print(len(mySet))

print(False in mySet)

print("dog" in mySet)

{False, 3, 4.5, 'cat', 6}
5
True
False

In [53]:
print(mySet)
Set2 = {99,3,100}
print(Set2, '\n')

print(mySet.union(Set2))
print(mySet | Set2)

print(mySet.intersection(Set2))
print(mySet & Set2)

print(mySet.difference(Set2))
print(mySet - Set2)

print({3,100}.issubset(Set2))

print({3,100}<=Set2)

mySet.add('house')
print(mySet)

mySet.remove(4.5)
print(mySet)

{False, 3, 4.5, 'cat', 6}
{3, 99, 100}

{False, 3, 4.5, 'cat', 6, 99, 100}
{False, 3, 4.5, 'cat', 6, 99, 100}
{3}
{3}
{False, 4.5, 'cat', 6}
{False, 4.5, 'cat', 6}
True
True
{False, 3, 4.5, 'cat', 6, 'house'}
{False, 3, 'cat', 6, 'house'}

In [54]:
mySet.pop()

False

In [55]:
print(mySet)

{3, 'cat', 6, 'house'}

In [56]:
mySet.clear()

In [57]:
print(mySet)

set()

### dictionary

In [8]:
capitals = {'Iowa':'DesMoines','Wisconsin':'Madison'}
print(capitals)

{'Iowa': 'DesMoines', 'Wisconsin': 'Madison'}

In [10]:
print(capitals['Iowa'])
capitals['Utah'] = 'SaltLakeCity'
print(capitals)
capitals['California'] = 'Sacramento'
print(capitals)
print(len(capitals))

DesMoines
{'Iowa': 'DesMoines', 'Wisconsin': 'Madison', 'Utah': 'SaltLakeCity'}
{'Iowa': 'DesMoines', 'Wisconsin': 'Madison', 'Utah': 'SaltLakeCity', 'California': 'Sacramento'}
4

In [11]:
for k in capitals:
    print(capitals[k], 'is the capital of ' + k)

DesMoines is the capital of Iowa
Madison is the capital of Wisconsin
SaltLakeCity is the capital of Utah
Sacramento is the capital of California

In [23]:
phoneext = {'david':1410,'brad':1137}
print(phoneext)
print(phoneext.keys())
print(list(phoneext.keys()))
print(phoneext.values())
print(list(phoneext.values()))
print(phoneext.items())
print(list(phoneext.items()))
print(phoneext.get('david'))
print(phoneext.get('kent'))
print(phoneext.get('kent', 'No Entry'))

{'david': 1410, 'brad': 1137}
dict_keys(['david', 'brad'])
['david', 'brad']
dict_values([1410, 1137])
[1410, 1137]
dict_items([('david', 1410), ('brad', 1137)])
[('david', 1410), ('brad', 1137)]
1410
None
No Entry